.jobs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin: 2rem 0;
    margin-top: 2rem;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.no_jobs{
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
}
.no_jobs img{
max-width: 200px;
    height: 200px;
    width: 100%;
}